/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
	font-family: "Roboto Slab", serif;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

main,
header {
	text-align: center;
}

.modal-container {
	background: #fbf6f7;
	margin: 50px auto;
	width: 440px;
	min-height: 400px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding-bottom: 20px;
}

.modal-container main {
	padding: 0 30px;
}

.title-area {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 16px;
}

.title-area img {
	margin-right: 5px;
}

#Progress_Status {
	background: transparent;
	height: 13px;
	margin-bottom: 34px;
}

#progressBar {
	background-color: #f08400;
	width: 0;
	transition: width 1s;
	height: 13px;
	position: relative;
}

#progressBar span {
	color: #6a6a6a;
	font-size: 10px;
	line-height: 14px;
	display: block;
}

header h1 {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.33;
	color: #6a6a6a;
	text-align: center;
}

.video-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 10px;
}

.video-area {
	height: 200px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	border: solid 1px #adadad;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 80%;
}

.video-area img {
	display: block;
	width: 60px;
	height: 52px;
}

.video-area-img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -26px 0 0 -30px;
}

.start-record {
	position: relative;
	z-index: 9;
}

.user-name {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.3;
	color: #f08400;
	margin: 0 0 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #707070;
}

.btn {
	border: solid 1px #006fdb;
	padding: 10px 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	font-size: 18px;
	justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
}

.btn span {
  display: block;
}

.remove {
	color: #f71019;
	display: flex;
	align-items: center;
	background: none;
	border: none;
	display: none;
}

.remove img,
.upload img {
	margin-right: 10px;
}

.remove img {
	width: 10px;
}

.upload {
	background-color: #006fdb;
	color: #fff;
	display: flex;
	text-align: center;
}

.upload:hover {
	background-color: dodgerblue;
}

.success-area {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 35px;
}

.success-area img {
	width: 25px;
}

p {
	font-size: 10px;
	font-weight: bold;
	line-height: 1.4;
	color: #5c5c5c;
	margin: 0 0 10px;
	font-family: "Nunito", sans-serif;
}

.cancel {
	border: 1px solid #5c5c5c;
	display: none;
}

.save {
	background-color: #006fdb;
	color: #fff;
	display: none;
	text-align: center;
}

.video-controls-box {
	display: flex;
	justify-content: center;
	margin: 0 0 15px;
	flex-direction: column;
}

.video-controls-box div {
	display: flex;
	justify-content: space-between;
}

.video-controls-box > div > div {
	width: 50%;
}

.video-controls-area {
	display: flex;
	justify-content: center;
	font-size: 20px;
	margin: 0 0 10px;
}

.video-controls-box .btn {
	width: 100%;
	text-align: center;
	margin: 5px 5px 10px;
	/* display: flex; */
	justify-content: center;
}

.video-controls-box .btn {
	margin: 5px;
	width: 100%;
	text-align: center;
}

.record-btn {
	display: flex;
	align-items: center;
  justify-content: space-between;
}

.record-icon {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #f71019;
	margin-right: 10px;
  position: absolute;
  top: 18px;
  left: 10px;
}

.record-icon:after {
	content: "";
	position: absolute;
	top: -3px;
	left: -3px;
	bottom: -3px;
	right: -3px;

	border-radius: 50%;
	border: 1px solid #f71019;
}

.show {
	display: flex !important;
}
